body {
    font: normal 15px Source Sans Pro;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Source Sans Pro;
}

a:hover {
    color: coral;
}

.top-nav {
    right: 300px;
    padding: 20px;
    padding-top: 25px;
    margin-left: auto;
    margin-right: 200px;
    width: fit-content;
}

.nav-button {
    padding: 15px;
}

.header-block {
    height: 350px;
    background-color: bisque;
}

.hello-block {
    font-size: 25px;
    padding-left: 200px;
}

.hello-block p {
    font-size: 20px;
    font-style: italic;
}

.social-icons {
    text-align: center;
    border-style: solid;
    width: fit-content;
    padding: 10px;
    border-radius: 50px;
    margin: 5px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.social-icons .icon {
    margin-top: 10px;
    margin-bottom: 10px;
}

